<h2><%= @post.title %></h2>
  <%= for snippet <- @post.snippets do %>
    <h5><%= snippet.filename %></h5>
      
    <pre><code class="language-<%= snippet.language %>"><%= snippet.body %></code></pre>
  <% end %>
  
<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
