<h2><%= @post.title %></h2>
  <%= for snippet <- @post.snippets do %>
    <%= render BigSnips.PostView, "show_snippet.html", conn: @conn, snippet: snippet %>
  <% end %>
  
<div class="edit-buttons">
  <%= link "Edit", to: post_path(@conn, :edit, @post), class: ["btn btn-primary"] %>
  <%= link "Back", to: post_path(@conn, :index), class: ["btn btn-primary"]%>
</div>
