<h2><%= @post.title %></h2>
  <%= for snippet <- @post.snippets do %>
    <%= render BigSnips.PostView, "show_snippet.html", conn: @conn, snippet: snippet %>
  <% end %>
  
<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
