<h2><%= String.capitalize @user.username%>'s Snippets</h2>

<%= for post <- @posts do %>
  <a href="/posts/<%= post.id %>"><h2><%= post.title %></h2></a>
  <%= for snippet <- post.snippets do %>
    <h5><%= snippet.filename %></h5>
    <div>
      <pre><code class="language-elixir"><%= snippet.body %></code></pre>
    </div>
  <% end %>
<% end %>

<%= link "New post", to: post_path(@conn, :new) %>
