<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Snippets</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><a href="/posts/user/<%= user.id %>">View Snippets</a></td>

      
    </tr>
<% end %>
  </tbody>
</table>

