div.snippet-tags span.tag {
  background: #efefef;
  padding: 0.3em;
}

div.markdown table {
  border: 1px gray solid;
}
div.markdown  th {
  background: #ffefff;
  border: 1px gray solid;
  padding: 0.3em;
}
div.markdown  tr:nth-child(even) {
  background: #efefef;
}
div.markdown  td {
  border: 1px gray solid;
  padding: 0.3em;
}
.navbar-nav li form.link {
  margin-top: 1.1em;
  display: block;
}
div.post-wrapper {
  padding-bottom: 1em;
  padding-top: 1em;
}
