<h2>Listing snippets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>Filename</th>

    </tr>
  </thead>
  <tbody>
<%= for snippet <- @snippets do %>
    <tr>
      <td><%= snippet.body %></td>
      <td><%= snippet.filename %></td>

    </tr>
<% end %>
  </tbody>
</table>

